@import "tailwindcss";

@theme {
    --font-antiqua: "Inknut Antiqua", serif;
    --color-m-tan: #FDFAEB;
    --color-m-navy: #AABEEE;
    --color-m-green: #A6EEE2;
    --color-m-sky: #D2F4F7;
    --color-m-brown: #533B3B;
    --color-m-red: #EA6A63;
}

@layer utilities {
    .search-bg {
        background: radial-gradient(51.46% 51.46% at 53.59% 63.81%, #FFFADE 0%, #F8E8CB 100%);
    }
}

@keyframe messageSent {
    0%  {opacity: 0; top: 0px}
    50% {opacity: 1; top: 100px}
    100% {opacity: 0; top: 0px}
}

body {
    color: var(--color-m-brown);
}